<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>Create new Listings</h1>
   <form method="post" action="/listings">
    <input type="text" name="listing[title]" id="" placeholder="Enter title">
<br> <br>
    <input type="textarea" name="listing[description]" id="" placeholder="Enter description">
    <br> <br>

    <input type="text"   name="listing[image]" id="" placeholder="Enter Image_URL">
    <br> <br>

    <input type="text" name="listing[country]" id="" placeholder="Enter country">
    <br> <br>

    <input type="text" name="listing[location]" id="" placeholder="Enter location">
    <br> <br>

    <input type="number" name="listing[price]" id="" placeholder="Enter price">
    <br> <br>
    <br>
    

    <button>ADD</button>
   </form> 
</body>
</html>